.header-logo{
  font-family: cursive;
  padding: 10px 10px 0 10px
} 
h1.ui.header {
    font-size: 2rem;
    font-family: cursive;
    margin-top: 1px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(238, 234, 234);
  color: black;
  padding: 5px;
  text-align: center;
}


.ui.placeholder.segment .column .button, .ui.placeholder.segment .column .field, .ui.placeholder.segment .column textarea, .ui.placeholder.segment .column>.ui.input {
  max-width: 20rem;
}
.feedTitle{
  margin: 10px 0 0 0;
}
.ui.feed>.event>.label {
  margin: auto 0;
}
.hr-line{
  border-bottom: 1px solid #ddd;
}
.feed-like{
  float: right;
  padding-right: 10px !important;
}

.feedContainerGrid{

  padding-top:10px;
  margin: 0 !important;
}


.ui.feed{
  overflow: auto;
    max-height: 62vh;
    padding: 10px!important;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);
}
.tag-cursor{
  cursor: pointer;
}
.ui-segment{
  min-height: 12vh;
}
.displayNone{
  display: none !important;
}
.header-title{
  font-size: 13px;
  font-style: italic;
}
.createArticle{
  width: 80%;
  margin: 25px auto;
}
.createArticle .input, 
.createArticle textarea,
.tag-label-group{
  margin-bottom: 20px !important;
}
.createArticleHeight{
  height: 50px !important;
}
textarea { 
  padding:10px;
  resize:vertical; 
  width: 100%;
  
}
.desc-text{
  margin-bottom: 10px !important;
}

.margin-bottom-footer{
  margin-bottom: 42px !important;
}
.comment-textbox textarea{
  height: auto !important;
}